body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80%;
}

header {
    width: 100%;
}

#products-sorting {
    width: 250px;
}

.card-img-top {
    height: 300px;
    object-fit: contain;
} 